.row{
    text-align: center;
}

.input-group-text{
    width: 500;
    align-content: center;
    border-color: #4e4e4e;
}

.cb-abgehakt{
    background-color: white !important;
    width: 10%;
}
#igt-item{
    border-left: none;
    border-right: none;
    background-color: white;
    width:  75%;
    overflow: false;
}
#btn-deleteItem{
    border-left: none;
    width: 15%;
}

#btn-addArticle{
    margin-top: 20px;
}