.row{
    text-align: center;
}

.input-group-text{
    align-content: center;
    border-color: #4e4e4e;
}

.cb-abgehakt{
    background-color: white !important;
    width: 10%;
}
#btn-notTicked{
    text-align: left;
    border-right: none;
    background-color: white;
    width:  70%;
    overflow: false;
}
#btn-deleteItem{
    border-left: none;
    width: 30%;
}

#btn-ticked{
    text-align: left;
    border-right: none;
    background-color: rgb(174, 174, 174);
    width:  70%;
    overflow: false;
}

#btn-addArticle{
    margin-top: 20px;
}