.row{
    text-align: center;
}

.input-group-text{
    align-content: center;
    border-color: #4e4e4e;
}

#btn-text-false{
    text-align: left;
    border-right: none;
    background-color: white;
    width:  70%;
    overflow: false;
}
#btn-delete-false{
    border-left: none;
    width: 30%;
}

#btn-text-true{
    text-align: left;
    border-right: none;
    background-color: rgb(210, 210, 210);
    width:  70%;
    overflow: false;
}

#btn-delete-true{
    border-left: none;
    width: 30%;
}

#btn-addArticle{
    margin-top: 20px;
}